@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

body {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    background-color: #FFF7EA;
}

h1 {
    color: #E57137;
    font-size: 55px;
}

header > nav > ul > li {
    display: inline;
    margin-right: 10px;
    list-style: none;
}

header > nav > ul > li > a {
    text-decoration: none;
}

header > nav > ul > li > a:hover {
    opacity: 50%;
    transition: 0.5s;
}

header > nav > ul > li > a:visited {
    color: #c0371f;
}

header > button {
    border-radius: 100%;
    text-align: center;
    font-size: 35px;
    background-color: #ffffff00;
    padding-left: 12px;
    padding-right: 12px;
    color: #E57137;
    border-color: #E57137;
    margin-bottom: 15px;
}

#champ-quantite-des-ingredients {
    width: 50px;
}

#quantite-ingredients, #liste-des-ingredients {
    display: inline-block;
}

#addField {
    color: #E57137;
    border-color: #E57137;
    border-radius: 100%;
    background-color: #ffffff00;
    font-size: 18px;
    margin: 5px;
}

#delete-all-button {
    border: 0cm;
    background-color: #ffffff00;
    font-size: 25px;
}

#ingr {
    font-size: 12px;
    background-color: #f6b88609;
}

.input-group > p {
    font-size: 12px;
}